@font-face {
    font-family: SF UI;
    src: url('@/assets/fonts/SFUIText-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: SF UI;
    src: url('@/assets/fonts/SFUIText-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'SF Display';
    src: url('@/assets/fonts/SF-Pro-Display-Bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'SF Display';
    src: url('@/assets/fonts/SF-Pro-Display-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'SF Display';
    src: url('@/assets/fonts/SF-Pro-Display-Medium.otf');
    font-weight: 500;
}